#new-landing .footer
	position: static
	margin-top: 0
	height: auto
	clear: none
	background: $dark2
	padding: 60px 0 80px
	@include mq($max-width: 700px)
		padding: 25px 0
	.container
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		@include mq($max-width: 1000px)
			align-items: flex-start
		@include mq($max-width: 700px)
			flex-direction: column
			align-items: center
	.right
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		width: 65%
		@include mq($max-width: 700px)
			width: 100%
	.logo
		width: 210px
		height: auto
		margin-bottom: 50px
		@include mq($max-width: 700px)
			margin-bottom: 15px
		&:hover
			.logo__img
				opacity: .5
		&__img
			display: block
			width: 100%
			height: auto
			transition: all .3s ease-out
	.left
		color: $white
		width: 30%
		@include mq($max-width: 700px)
			width: 100%
			margin-bottom: 25px
		h2
			font: 19px 'Inter', sans-serif
			margin-bottom: 15px
		p
			font: 300 16px 'Inter', sans-serif
			margin-bottom: 10px
		a
			font: 300 16px 'Inter', sans-serif
			text-decoration: underline
			color: $white
			&:hover
				text-decoration: none
	.block
		color: $white
		@include mq($max-width: 1000px)
			margin-bottom: 25px
		&__title
			font: 700 16px 'Inter', sans-serif
			margin-bottom: 25px
	.menu
		display: flex
		flex-wrap: wrap
		width: 340px
		@include mq($max-width: 700px)
			width: 100%
		li
			width: 48%
			margin-bottom: 10px
			padding-right: 10px
		a
			font: 300 14px 'Inter', sans-serif
			color: $white
			&:hover
				font-weight: 700
	.menu2
		li
			margin-bottom: 10px
		a
			font: 300 14px 'Inter', sans-serif
			color: $white
			&:hover
				font-weight: 700
	.links
		width: 140px
		li
			margin-bottom: 10px
		a
			font: 300 15px 'Inter', sans-serif
			text-decoration: underline
			color: $white
			&:hover
				text-decoration: none
	.social
		margin-bottom: 20px
		li
			display: inline-block
			&:not(:last-child)
				margin-right: 6px