#new-landing .mainblock-clippers
	position: relative
	background: linear-gradient(90.35deg, #F8F9FA 0.27%, #F7F7F7 80.75%)
	margin-bottom: 50px
	// background: url($imgUrl+'mainblock-clippers/bg.jpg') no-repeat left center / cover
	// @include mq($max-width: 1500px)
	// 	background-position: center center
	// @include mq($max-width: 1000px)
	// 	background: url($imgUrl+'mainblock-clippers/bg2.jpg') no-repeat left center / cover
	// @include mq($max-width: 700px)
	// 	background-position: center center
	img
		display: block
		width: auto
		height: 100%
		@include mq($max-width: 1200px)
			position: absolute
			left: 0
			bottom: 0
		@include mq($max-width: 800px)
			left: -20%
		@include mq($max-width: 700px)
			left: -25%
		@include mq($max-width: 575px)
			position: static
			width: 80%
			margin-left: auto
		@include mq($max-width: 400px)
			width: 100%
	.container
		min-height: 480px
		display: flex
		align-items: center
		text-align: right
		@include mq($max-width: 1000px)
			min-height: 350px
		@include mq($max-width: 700px)
			min-height: 300px
		@include mq($max-width: 575px)
			flex-direction: column
		@include mq($max-width: 550px)
			min-height: 330px
	.inner
		max-width: 450px
		@include mq($max-width: 1000px)
			position: relative
			z-index: 2
			margin-left: auto
		@include mq($max-width: 575px)
			margin-bottom: 25px
	h1
		font: 700 38px 'Inter', sans-serif
		margin-bottom: 50px
		@include mq($max-width: 1200px)
			margin-left: auto
		@include mq($max-width: 1000px)
			font-size: 34px
			margin-bottom: 25px
		@include mq($max-width: 550px)
			font-size: 24px
	p
		font: 300 25px 'Inter', sans-serif
		margin-bottom: 10px
		@include mq($max-width: 1000px)
			font-size: 22px
		@include mq($max-width: 550px)
			font-size: 18px